html {
  background: #000000;
  color: rgb(255,255,255);
  --bs-primary: #dc3545;
  --bs-primary-rgb: 220,53,69;
  --bs-secondary: #198754;
  --bs-secondary-rgb: 25,135,84;
}

.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 6px;
  padding: 6px 12px;
}

.btn:hover, .btn-primary:hover {
  background-color: #0d6efd;
  border-color: #ffc107;
}

.btnActive, .btnActive:focus {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.poweredOn {
  filter: opacity(100%);
}

.poweredOff {
  filter: opacity(5%);
}

.overlay {
  transition: .5s ease;
  height: 100px;
  width: 100px;
  opacity: 1;
}

.overlay:hover {
  opacity: 0;
}

.central {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centred {
  opacity: 1;
  margin: auto;
}

.reset {
  background-image: url("/assets/img/BitBoxLogo.png?h=a50b3ddb5614299b0c00dd4f01bc402e");
  height: 100px;
  width: 100px;
}

.homeIcon:hover {
  opacity: 1;
}

.homeIcon {
  width: 100px;
  height: 100px;
  opacity: 0.25;
  transition: .5s ease;
}

.warning {
  background-color: #ffc107;
  border-color: #ffc107;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.warning:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.bulb-text {
  text-align: center;
  font-size: 40px;
  font-family: 'Seven Segment Regular';
  position: relative;
  opacity: 0.75;
  z-index: 2;
}

.stacked {
  position: relative;
  height: 110px;
}

.bulbs {
  text-align: center;
  font-size: 48px;
  opacity: 0;
  /*position: absolute;*/
  /*margin-top: 1em;*/
  /*left: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*z-index: 1;*/
}

.bulb-div {
  position: relative;
  top: 0;
  left: 0;
}

.buttonMiddle {
  font-size: xx-large;
  font-family: 'IEC symbols Unicode';
  height: 62px;
}

table .high-toggle {
  padding-bottom: 0px;
}

table .mid-toggle {
  padding-top: 0px;
}

table .stacked {
  width: 11%;
}

.btnUp {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 0px;
}

.btnDown {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btnUp svg, .btnDown svg {
  font-size: 5em;
}

.simHeading {
  font-family: 'Seven Segment';
  text-align: center;
}

.simData {
  text-align: center;
  color: #10ff00;
  font-family: 'DSEG7 Classic Regular';
  white-space: nowrap;
}

.simColumns {
  text-align: center;
  font-family: 'DSEG7 Classic Regular';
  color: rgb(255,255,255);
}

.btnReset {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.dropdown-menu {
  opacity: 0;
  transform: translateY(2rem);
  transition: transform 0.5s;
}

.dropdown:hover > .dropdown-menu {
  opacity: 1;
  transform: translateY(-2px);
  transition: opacity 0.5s, transform 0.5s;
}

.introP {
  margin-bottom: 1rem !important;
}

.completeFeatures {
  font-weight: bold;
  color: rgb(25,245,170);
  margin-bottom: 0px;
}

.hexColourToggles {
  margin-right: 5em;
  display: inline-grid;
}

.hexColourTogglesEnd {
  display: inline-grid;
}

.resetButton {
  font-weight: 600;
  color: black;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%);
}

.resetIcon {
  z-index: -1;
}

.bottomSpacer {
  height: 12px;
}

.spacer {
  height: 56px;
}

.binaryButtons {
  margin: auto;
  display: flex;
  height: 38px;
}

.hexColourButtons {
  margin: auto;
  display: flex;
  height: 38px;
  margin-top: 10px;
}

.logicGateInput2 {
  float: left;
  margin-top: 4em;
}

.logicGateInput1 {
  float: left;
  margin-top: 1.5em;
}

.logicGateOutput {
}

.logicGate {
  filter: invert(100%);
  margin: auto;
  padding: 10px;
  height: 15em;
  float: left;
}

.oneInputRows {
  display: inline-flex;
  vertical-align: middle;
  justify-content: right;
  height: 75px;
}

.twoInputRows {
  display: inline-flex;
  vertical-align: middle;
  justify-content: right;
  margin-top: 30px;
}

.singleInputSingleOutput {
  text-align: left;
  font-size: 72px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-top: 90px;
  margin-left: -90px;
}

.dualInputSingleOutput {
  text-align: left;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-top: .90em;
  margin-left: -0.5em;
}

.tableCells {
  width: 110px;
}

.social-media {
  font-size: 25px;
  display: grid;
  margin: auto;
}

a:hover {
  color: var(--bs-success);
}

a {
  color: #ffffff;
}

#mainNav.navbar-dark .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav.navbar-dark .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #19f5aa;
}

#mainNav.navbar-dark .navbar-nav > li.nav-item > a.nav-link {
  color: #fff;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active {
  font-weight: 700 !important;
  color: #19f5aa;
}

.dropdown-item.active, .dropdown-item:active {
  color: #19f5aa!important;
  text-decoration: none;
  background-color: rgb(45, 44, 56);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #19f5aa;
  background-color: var(--bs-dropdown-link-hover-bg);
}

.vertical-center {
  transform: rotate(-90deg);
  -ms-transform: translateY(-50%);
  top: 50%;
  margin: auto;
  position: relative;
  width: 8em;
}

.hexSliders {
  height: 150px;
}

.hexadecimalButtons {
  margin: 0.5em auto 0.5em auto;
  display: flex;
  height: 38px;
}

.cc-nc:before {
  background-image: url(https://creativecommons.org/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-nc);
  float: left;
  margin-left: -2.5em;
  filter: invert(100%);
}

.cc-by:before {
  background-image: url(https://creativecommons.org/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-by);
  float: left;
  margin-left: -2.5em;
  filter: invert(100%);
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

.cc-terms ul > li:before {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 2em;
  width: 2em;
}

.cc-terms ul > li {
  padding-left: 2.5em;
  clear: both;
  list-style: none;
  margin-bottom: 2em;
  min-height: 2em;
}

.cc-terms ul {
  padding: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 2em 2em;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.cc-sa:before {
  background-image: url(https://creativecommons.org/wp-content/themes/vocabulary-theme/vocabulary/svg/cc/icons/cc-icons.svg#cc-sa);
  float: left;
  margin-left: -2.5em;
  filter: invert(100%);
}

.cc-terms a:hover {
  color: var(--bs-warning);
}

.cc-terms a {
  text-decoration: underline;
  color: var(--bs-success);
}

.cc-terms p {
  margin-bottom: 2em;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.cc-terms h1 {
  box-sizing: border-box;
  text-transform: none;
  margin: 0.2em 0;
  order: 2;
  width: 100%;
  margin-top: .39em;
  margin-bottom: 0;
  grid: 0 / auto;
  font-size: 3.56em;
  font-style: normal;
  font-weight: 700;
}

.cc-heading h1 {
  box-sizing: border-box;
  text-transform: none;
  margin: 0.2em 0;
  order: 2;
  width: 100%;
  margin-top: .39em;
  margin-bottom: 0;
  grid: 0 / auto;
  font-size: 3.56em;
  font-style: normal;
  font-weight: 700;
}

.cc-terms h2 {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  text-transform: none;
}

.cc-heading h2 {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 700;
  font-size: 2.1em;
  text-transform: none;
}

.alert p {
  margin-bottom: 0px;
}

.cc-heading p {
  margin-top: 16px;
  margin-bottom: 0px;
}

